<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=), initial-scale=1.0">
    <title>Store</title>
    <link rel="icon" type="image/x-icon" href="gymos.ico">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alumni+Sans+Collegiate+One&family=Bonheur+Royale&family=Fredoka+One&family=Gideon+Roman&family=Roboto&family=Silkscreen&family=Special+Elite&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="headeng"><%= title%></h1>
    </header>
 <div class="main">
    <div class="nav">

        <div>
            <a href="/">Homeasdasdasdasd</a>
            <a href="/showEquip">All Equipment</a>
            <a href="/showSupl">All Suplements</a>
            <a href="/showExer">All Exersizes</a>
            <a href="/showBro">All BodyBuilder</a>
            </div>
            <div>
                <a href="/BodyBuilderForm">Create new BodyBuilder</a>
                <a href="/Equipment">Create new Equipment</a>
                <a href="/Suplements">Create new Suplements</a>
                <a href="/Exersize">Create new Exersizes</a>
            </div>

    </div>




<div class="show">

<form class="addForm" action="" method="post">

    <div >
        <label for="name">GYM BRO NAME</label>
        <input placeholder="<%=item.name%>"  type="text" name="name" id="name">
    </div>
    <div >
        <label for="age">GYM BRO AGE</label>
        <input  placeholder="<%=item.age%>" type="number" name="age" id="age">
    </div>
    <div>
        <label for="nickname">GYM BRO NICKNAME</label>
        <input placeholder="<%=item.nickname%>"  type="text" name="nickname" id="nickname">
    </div>

    <div >
        <label for="weight">GYM BRO WEIGHT KG</label>
        <input placeholder="<%=item.weight%>" type="number" name="weight" id="weight">
    </div>
    <div >
        <label for="maxbench">GYM BRO MAX BENCH KG</label>
        <input  placeholder="<%=item.max%>" type="number" name="maxbench" id="maxbench">
    </div>
  <button>Update</button>
</form>


</div>



 </div>

</body>
</html>